.venv/*
.idea/*
__pycache__/
Lib/*
Scripts/*
pyvenv.cfg
.streamlit/secrets.*
.streamlit/token.json
.streamlit/client_secret.json
etc/*
share/*
.DS_Store
*/.DS_Store
.vscode/*
twelve_chat.bat
.env
user_info.json
clustering.ipynb

